.css-1c35hjw-MuiPaper-root-MuiAccordion-root {
  box-shadow: none !important;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
  padding: 0 !important;
}

.css-1c35hjw-MuiPaper-root-MuiAccordion-root {
  background-color: transparent !important;
}
