/* .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root:hover.MuiOutlinedInput-notchedOutline{
    border-color: white !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
    color: white;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color: white !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    color: white !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:focus{
    outline-color: var(--red) !important;
} */